header,
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.MuiListItem-root-5 {
  display: inline-flex !important;
  width: 100px !important;
  text-align: center;
}